* {
    box-sizing: border-box;
    font-family: Copperplate;
    width: auto;
    padding: 7px

}

body {

    background-image: url(img/coffee-beans-dark-background.png);
    background-size: auto;
    background-repeat: repeat;

}

#search, #new-search{
    background-color: #341c0d;
    color: tomato;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

hr {
    border: 1px solid #030201;
}

#roast-selection, #new-roast-selection {
    width: 100%;
    background-color: tan;
    color: black;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #ecebeb;
}

#roast-selection:visited, #new-roast-selection:visited {
    width: 100%;
    background-color: #79341f;
    color: black;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #341c0d;

}
#submit, #new-coffee-submit {
    width: 100%;
    background-color: #79341f;
    border-radius: 5px;
    border: 1px solid #964d32;
    color: white;
    background-color: #341c0d;
}

#submit:hover, #new-coffee-submit:hover {
    width: 100%;
    background-color: tomato;
    border-radius: 5px;
    border: 1px solid tomato;
    color: white;
}

.main-title {
    text-align: center;
    color: tomato;
}

.add-coffee-title {
    text-align: center;
    color: tomato;
}
#whole-page{
    width: 50%;
    /*padding-right: 100px;*/
    /*margin-right: 10px;*/

    /*display: flex;*/
    /*flex-direction: column;*/

}
#coffees{
    width: 50%;
    /*position: absolute;*/
    /*margin: -500px 600px;*/

}

#container {
    display: flex;

}

.coffee .name {
    font-size: 20px;
    font-weight: bold;
    color: tomato;
}

 .coffee .roast {
    font-size: 15px;
    color: #f1bcab;
}